
.order-together{
    border: 1px solid rgba(219, 218, 218, 1);
    padding: 1vmax;
}
.order-together-food{
    display: flex;
    gap: 0.1vmax;
}
.order-original-food, .order-with-original-food{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    padding: 1vmax
}
.order-with-original-food > input{
    position: absolute;
    margin-top: 0.5vmax;
    margin-left: 14vmax;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.order-process{
    display: flex;
    flex-direction: column;
    gap: 1vmax; 
    margin-top: 1vmax
}
.btn{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background-color: red;
    color: white;
    padding: 18px 32px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-inline: 1vmax;
    width: 13vw
}
.btn:disabled{
    background-color:rgba(243, 115, 115, 1);
}
.btn:hover {
    background-color: rgb(239, 17, 17);
    transform: scale(1.05);
}